body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    width: 960px;
    margin: 0px auto;
}
.menutop{
    width: 960px;
    margin: 0 auto;
    height: 60px;
}
.topleft ul li{
    list-style: none;
    float: left;
}

.topleft ul li a{
    display: block;
    text-decoration: none;
    line-height: 60px;
    padding: 0px 10px 0px 10px;

}
.banner {
   
    width: 960px;
    height: 500px;
}
.banner img{
width: 960px;
height: 400px;
}
.main {
    width: 960px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    

}
.sanpham{
    width: 22%;
    text-align: center;
    background-color: slategrey;
    padding: 10px;
    border-radius: 10px;
}
.sanpham img{
    width: 100%;
    padding: 0px;

}